<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :id_company %><br />
    <%= f.text_field :id_company %>
  </div>
  <div class="field">
    <%= f.label :applicant %><br />
    <%= f.text_field :applicant %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phones %><br />
    <%= f.text_field :phones %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contract %><br />
    <%= f.text_field :contract %>
  </div>
  <div class="field">
    <%= f.label :date_contract %><br />
    <%= f.date_select :date_contract %>
  </div>
  <div class="field">
    <%= f.label :quote_number %><br />
    <%= f.text_field :quote_number %>
  </div>
  <div class="field">
    <%= f.label :date_quote %><br />
    <%= f.date_select :date_quote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
