<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @customer.id %>
</p>
<%

<p>
  <b>Company:</b>
  <%= @customer.company %>
</p>

<p>
  <b>Id company:</b>
  <%= @customer.id_company %>
</p>

<p>
  <b>Applicant:</b>
  <%= @customer.applicant %>
</p>

<!--
<p>
  <b>Position:</b>
  <%= @customer.position %>
</p>


<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>
-->

<p>
  <b>Phones:</b>
  <%= @customer.phones %>
</p>

<!--
<p>
  <b>Fax:</b>
  <%= @customer.fax %>
</p>
-->

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Contract:</b>
  <%= @customer.contract %>
</p>

<!--
<p>
  <b>Date contract:</b>
  <%= @customer.date_contract %>
</p>

<p>
  <b>Quote number:</b>
  <%= @customer.quote_number %>
</p>

<p>
  <b>Date quote:</b>
  <%= @customer.date_quote %>
</p>
-->

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

